.userListPageContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;

        .userListContainer{
            margin: auto;
            max-width: 932px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 16px;
        }
    .paginationContainer{
        margin: auto auto 0 auto ;
        padding-top: 10px;
        display: flex;
        
        
        .pageIndexContainer{
            color: #40cae5;
            font-size: 22px;
            font-weight: 600;
            padding: 8px 16px;
        }

        button{
            background: #40cae5;
            color: #ffffff;
            padding: 8px 16px;
            border-radius: 5px;
            border:none;
            margin: auto;
            font-size: 17px;
            font-weight: 600;
            cursor: pointer;
            &:disabled{
                cursor: not-allowed;
                background: #a9ecfa;

                &:hover,
                &:active {
                  background-color: #a9ecfa;
                }
            }
            &:hover{
                background: #47defd;
            }
            &:active{
                background: #12a7c4;
            }            
        }
    }
}